<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function Based View Crud</title>
    <link rel="stylesheet" href="{% static 'cbvTest/css/bootstrap.css' %}">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Function Based View Crud</h2>
    {% block content %}
    
    {% endblock content %}
</div>

<script src="{% static 'cbvTest/js/bootstrap.js' %}"></script>
<script src="{% static 'cbvTest/js/jquery.js' %}"></script>
<script src="{% static 'cbvTest/js/popper.js' %}"></script>
</body>
</html>
